<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Home Page"  parallel="tests" thread-count="4">


    <test name="All tests in web">
        <parameter name="platform" value="web"></parameter>
        <packages>
            <package name = "org.example.test">
                <exclude name="BaseTest"></exclude>
            </package>
        </packages>
<!--        <classes>-->
<!--            <class name="org.example.test.TodayInCinemaTest">-->
<!--                <methods>-->
<!--                    <include name="carouselElementsTest"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
    </test>

    <test name="All tests in Mobile">
        <parameter name="platform" value="mobile"></parameter>
        <packages>
            <package name = "org.example.test">
                <exclude name="BaseTest"></exclude>
            </package>
        </packages>
<!--        <classes>-->
<!--            <class name="org.example.test.TodayInCinemaTest">-->
<!--                <methods>-->
<!--                    <include name="carouselElementsTest"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
    </test>
</suite>